@use '../../styles/variables' as v;

.App {
  background: v.$color-inner;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100vh;
  padding: 1rem;
  width: 90vw;
}

.header {
  margin-bottom: v.$gutter;
}

.content {
  overflow: hidden;
  .description {
    height: 5rem;
    text-overflow: ellipsis;
  }
}

.search {
  margin: 0 auto;
  width: 65vw;
  &-input {
    width: 100%;
  }
}

.repos {
  margin: 1rem auto;
  &-list {
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-card {
      margin: 1rem;
      .description {
        height: 10rem;
        overflow: hidden;
      }
    }
  }
}
